.container {
    padding: 40px;
    width: 80%; /* Adjust as needed */
    max-height: 600px; /* Set max height for scroll */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: #86c9f8;
    margin: 3% auto; /* Center container */
    display: flex;
    flex-wrap: wrap; /* Allow products to wrap to new rows */
    gap: 20px; /* Space between product items */
    justify-content: flex-start;
}

.product {
    width: 22%; /* Adjust width to fit 4 items per row */
    margin: 10px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 10px 0; /* Add some margin to space out the items */
    text-align: center; /* Center the text inside the ul */
}
